# Bring together four Dataset

In [ ]:
import numpy as np
import pandas as pd

### Read Dataset

In [10]:
df1 = pd.read_csv("/kaggle/input/trafficdataset-roadatl-secondpartproject/Traffic-Road1.csv")
df2 = pd.read_csv("/kaggle/input/trafficdataset-roadatl-secondpartproject/Traffic-Road2.csv")
df3 = pd.read_csv("/kaggle/input/trafficdataset-roadatl-secondpartproject/Traffic-Road3.csv")
df4 = pd.read_csv("/kaggle/input/trafficdataset-roadatl-secondpartproject/Traffic-Road4.csv")

In [11]:
df1.head()

,Time,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
0,12:00:00 AM,10,Tuesday,31,0,4,4,39,low
1,12:15:00 AM,10,Tuesday,49,0,3,3,55,low
2,12:30:00 AM,10,Tuesday,46,0,3,6,55,low
3,12:45:00 AM,10,Tuesday,51,0,2,5,58,low
4,1:00:00 AM,10,Tuesday,57,6,15,16,94,normal

In [12]:
df2.head()

,Time,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total
0,12:00:00 AM,10,Tuesday,13,2,2,24,NaN
1,12:15:00 AM,10,Tuesday,14,1,1,36,NaN
2,12:30:00 AM,10,Tuesday,10,2,2,32,NaN
3,12:45:00 AM,10,Tuesday,10,2,2,36,NaN
4,1:00:00 AM,10,Tuesday,11,2,1,34,NaN

In [13]:
for i in range(len(df2['Total'])):
    df2['Total'] = df2['CarCount'] + df2['BikeCount'] + df2['BusCount'] + df2['TruckCount']
    df3['Total'] = df3['CarCount'] + df3['BikeCount'] + df3['BusCount'] + df3['TruckCount']
    df4['Total'] = df4['CarCount'] + df4['BikeCount'] + df4['BusCount'] + df4['TruckCount']

In [14]:
dftotal = pd.DataFrame(columns=['Time', 'Date', 'Day of week','CarRoad1','CarRoad2','BikeRoad1','BikeRoad2','BusRoad1','BusRoad2','TruckRoad1','TruckRoad2','TotalRoad1','TotalRoad2'])
for i in range(len(df1['Total'])):
    dftotal['Time'] = df1['Time'] 
    dftotal['Date'] = df1['Date']
    dftotal['Day of week'] = df1['Day of the week']
    dftotal['CarRoad1'] = df1['CarCount'] + df3['CarCount']
    dftotal['BikeRoad1'] = df1['BikeCount'] + df3['BikeCount']
    dftotal['TruckRoad1'] = df1['TruckCount'] + df3['TruckCount']
    dftotal['BusRoad1'] = df1['BusCount'] + df3['BusCount']
    dftotal['TotalRoad1'] = df1['Total'] + df3 ['Total']
    # ------------------------------------
    dftotal['CarRoad2'] = df2['CarCount'] + df4['CarCount']
    dftotal['BikeRoad2'] = df2['BikeCount'] + df4['BikeCount']
    dftotal['TruckRoad2'] = df2['TruckCount'] + df4['TruckCount']
    dftotal['BusRoad2'] = df2['BusCount'] + df4['BusCount']
    dftotal['TotalRoad2'] = df2['Total'] + df4 ['Total']

In [15]:
dftotal.head()

,Time,Date,Day of week,CarRoad1,CarRoad2,BikeRoad1,BikeRoad2,BusRoad1,BusRoad2,TruckRoad1,TruckRoad2,TotalRoad1,TotalRoad2
0,12:00:00 AM,10,Tuesday,52,27,0,2,6,2,17,50,75,81
1,12:15:00 AM,10,Tuesday,64,29,1,3,4,2,14,72,83,106
2,12:30:00 AM,10,Tuesday,61,17,2,2,5,3,25,64,93,86
3,12:45:00 AM,10,Tuesday,75,21,1,2,2,2,33,56,111,81
4,1:00:00 AM,10,Tuesday,75,22,8,3,15,3,32,54,130,82

In [16]:
dftotal.to_csv('/kaggle/working/total_data.csv', index=False)